# Terraform
**/.terraform/
terraform/environments/dev/terraform.tfstate
terraform/environments/dev/.terraform.lock.hcl
terraform/environments/dev/terraform.tfstate*.backup

# Credentials — JAMAIS commité
infra/secrets.tfvars
*.tfvars

# Certificats IoT — JAMAIS commité (clés privées)
src/iot-simulator/certs/
src/greengrass/certs/